/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 40px;
    padding-bottom: 20px;
/*  margin-bottom: 60px;*/
}

a {
    color: rgb(0, 136, 170);
}
a:hover,
a:focus {
    color: rgb(0, 100, 125);
}

.jumbotron {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background: transparent url("../images/bg-darker.jpg") repeat scroll 30% -15%;
}

p.adv-search {
    font-size: 12pt;
}
.adv-search-btn-grp {
    width: 100%;
}
.adv-search-btn {
    width: 40px;
}

.logo img {
    width: 262;
    height: 72;
}

.footer {
    margin-top: 40px;
    padding-top: 6px;
    background-color: #eee;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #eee;
    border-radius: 4px;
}
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

.top-page-sep {
    border-top: 2px solid rgb(200, 200, 200);
    margin-top: 20px;
}

.mid-page-sep {
    border-top: 2px solid rgb(200, 200, 200);
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.bottom-page-sep {
    border-top: 2px solid rgb(200, 200, 200);
    margin-top: 20px;
    border-bottom: 2px solid rgb(200, 200, 200);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

.browse-list ul {
    padding-left: 0;
}
.browse-list ul li {
    color: rgb(130, 130, 130);
    list-style-type: none;
    padding-top: .5em;
/*    line-height: 2;*/
}

th { text-align: center; }

/* Browse table styling */
table.browse_table {
    border: 1px solid black;
    border-collapse: collapse;
}

table.browse_table td, table.browse_table th {
    border: 1px solid black;
    padding: 4px 30px 4px 20px;
    vertical-align: top;
}

table.outer-table {
    border-collapse: separate;
    border-spacing: 0 2em;
    text-align: center;
    border: 0;
    width: 100%;
}
table.result-table {
    background-color: #fffee8;
    text-align: left;
    width: 100%;
}
table.result-table td, table.result-table th {
    padding: .2em .5em;
}
table.result-table td.zipped {
    background-color: #cdeef4;
}
table.result-table td.gzipped {
    background-color: #f7dcdc;
}
table.result-table tr.preview {
    background-color: #fff;
}
.more-info {
    background-color: #e8e8ff;
}
table.maintainer {
    background-color: #ffe8e8;
}
.preview-image p {
    text-align: center;
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
}

.adv-search-panel {
    margin-left: 12px;
    margin-right: 12px;
}

.form-horizontal .checkbox-inline {
    padding-top: 0px;
    margin-left: 8px;
}

#advanced-search {
	display: none;
}

/* Prevent anchors from looking like links in headers and tables. */
h2 a, h2 a:hover, h2 a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

h3 a, h3 a:hover, h3 a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

th a, th a:hover, th a:active {
    color: inherit;
    background-color: inherit;
    text-decoration: none;
}

.bench {
    color: rgb(130, 130, 130);
}

@media screen and (max-width: 767px) {
    #logo-div {
        text-align: center;
        margin-bottom: 15px;
    }
    #searchcol {
        text-align: center;
        margin-top: 40px;
    }
    #advanced-search {
        display: inline;
    }
    #free-for-everyone {
        font-size: 24px;
    }
}
