/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 40px;
    padding-bottom: 20px;
/*  margin-bottom: 60px;*/
}

a {
    color: rgb(0, 136, 170);
}
a:hover,
a:focus {
    color: rgb(0, 136, 170);
}
.jumbotron {
    padding-top: 40px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: inherit;
    background: transparent url("../images/bg-darker.jpg") repeat scroll 30% -15%;
}


.logo img {
    width: 262;
    height: 72;
}

.footer {
    background-color: #eee;
}
.sidebar-module-inset {
    padding: 15px;
    background-color: #eee;
    border-radius: 4px;
}
.sidebar-module {
    padding: 15px;
    margin: 0 -15px 15px;
}

th { text-align: center; }

/* Browse table styling */
table.browse_table {
    border: 1px solid black;
    border-collapse: collapse;
}

table.browse_table td, table.browse_table th {
    border: 1px solid black;
    padding: 4px 30px 4px 20px;
    vertical-align: top;
}

table.outer-table {
    border-collapse: separate;
    border-spacing: 0 2em;
    text-align: center;
    border: 0;
    width: 100%;
}
table.result-table {
    background-color: #fffee8;
    text-align: left;
    width: 100%;
}
table.result-table td, table.result-table th {
    padding: .2em .5em;
}
table.result-table td.zipped {
    background-color: #cdeef4;
}
table.result-table td.gzipped {
    background-color: #f7dcdc;
}
table.result-table tr.preview {
    background-color: #fff;
}
.more-info {
    background-color: #e8e8ff;
}
table.maintainer {
    background-color: #ffe8e8;
}
.preview-image p {
    text-align: center;
    background-color: #fff;
    margin-top: 1em;
    margin-bottom: 2em;
}

/* for advanced search*/
.adv-search li {
    margin-top: 6px;
    margin-bottom: 6px;
    list-style: none;
}

#advanced-search {
	display: none;
}

#searchcol {
    text-align: right;
}
#searchbox {
    width: 70%;
    margin-left: 30%;
}

@media screen and (max-width: 767px) {
    #logo-div {
        text-align: center;
        margin-bottom: 15px;
    }
    #searchcol {
        text-align: center;
        margin-top: 40px;
    }
    #searchbox {
        width: 100%;
        margin-left: 0%;
    }
    #advanced-search {
        display: inline;
    }
    #free-for-everyone {
        font-size: 24px;
    }
}
